* {
  box-sizing: border-box;
  border-radius: 30px;
  color: #fffdfc;
  font-family: 'Monaco';
  margin: 10px;
  padding: 10px;
};

body {
 background: #fffdfc;
}
  .todo-app {
    box-shadow: 3px 4px 8px 6px rgba(133, 92, 48, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    width: 520px;
    min-height: 600px;
    background: #fffdfc;
    text-align: center;
    margin: 128px auto;
    border-radius: 30px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 32px 0;
    color: rgb(52, 51, 51);
    font-size: 24px;
    background: fixed;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    background-color: #fffdfc;
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 10px 32px 14px 16px;
    border-radius: 30px;
    border: 1px solid #f6a234;
    outline: none;
    width: 320px;
    background: #fffdfc;
    color: black;
  }
  
  .todo-input::placeholder {
    color: rgb(168, 103, 6);
  }
  
  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    outline: none;
    background:rgb(240, 126, 109) ;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: 2px solid rgb(157, 75, 75);
    color: black;
  }
  
  .todo-button.edit {
    background: #f6a234;
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    box-shadow: 1px 1px 2px 2px rgba(133, 92, 48, 0.2);
    align-items: center;
    background:rgb(161, 218, 247);
    border-radius: 100px;
    color: rgb(54, 50, 50);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin: 4px auto;
    padding: 16px;
    width: 90%;
  }
  
  .todo-row:nth-child(4n + 1) {
    background:rgb(178, 205, 158);
  }
  
  .todo-row:nth-child(4n + 2) {
    background: rgb(255, 182, 99);
  }
  
  .todo-row:nth-child(4n + 3) {
    background:rgb(183, 152, 216);
  }
  
  .icons {
    background-color: transparent;
    display: flex;
    font-size: 40px;
    align-items: center;
    cursor: pointer;
  }
  
  .delete-icon {
    background-color: transparent;
    font-size: 30px;
    margin-right: 5px;
    padding: 5px;
  }

  .edit-icon {
    background-color: transparent;
    font-size: 30px;
    padding: 5px;
  }
